@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: var(--font-montserrat);
  }
}

.loader {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  color: #222;
}
.loader:before,
.loader:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 1s spin linear infinite;
}
.loader:after {
  color: #4bfb4e;
  transform: rotateY(70deg);
  animation-delay: 0.4s;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {
  0%,
  100% {
    box-shadow: 0.2em 0px 0 0px currentcolor;
  }
  12% {
    box-shadow: 0.2em 0.2em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 0.2em 0 0px currentcolor;
  }
  37% {
    box-shadow: -0.2em 0.2em 0 0 currentcolor;
  }
  50% {
    box-shadow: -0.2em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -0.2em -0.2em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0px -0.2em 0 0 currentcolor;
  }
  87% {
    box-shadow: 0.2em -0.2em 0 0 currentcolor;
  }
}

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #ffffff;
  overflow: hidden;
}

.background span {
  width: 24vmin;
  height: 24vmin;
  border-radius: 24vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 25;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.background span:nth-child(0) {
  color: #4bfb4e;
  top: 4%;
  left: 25%;
  animation-duration: 137s;
  animation-delay: -231s;
  transform-origin: 15vw 23vh;
  box-shadow: 48vmin 0 6.808091752785989vmin currentColor;
}
.background span:nth-child(1) {
  color: #4bfb4e;
  top: 61%;
  left: 34%;
  animation-duration: 14s;
  animation-delay: -240s;
  transform-origin: -12vw 11vh;
  box-shadow: 48vmin 0 6.268847322279983vmin currentColor;
}
.background span:nth-child(2) {
  color: #4bfb4e;
  top: 73%;
  left: 94%;
  animation-duration: 155s;
  animation-delay: -124s;
  transform-origin: -6vw 15vh;
  box-shadow: -48vmin 0 6.523596771670462vmin currentColor;
}
.background span:nth-child(3) {
  color: #49474d;
  top: 18%;
  left: 43%;
  animation-duration: 68s;
  animation-delay: -112s;
  transform-origin: 21vw 25vh;
  box-shadow: -48vmin 0 6.131188060560394vmin currentColor;
}
.background span:nth-child(4) {
  color: #49474d;
  top: 57%;
  left: 69%;
  animation-duration: 74s;
  animation-delay: -10s;
  transform-origin: 14vw -7vh;
  box-shadow: -48vmin 0 6.13909658648567vmin currentColor;
}
.background span:nth-child(5) {
  color: #49474d;
  top: 68%;
  left: 72%;
  animation-duration: 64s;
  animation-delay: -91s;
  transform-origin: 3vw -20vh;
  box-shadow: 48vmin 0 6.415210836049474vmin currentColor;
}
.background span:nth-child(6) {
  color: #49474d;
  top: 17%;
  left: 35%;
  animation-duration: 171s;
  animation-delay: -215s;
  transform-origin: 15vw 6vh;
  box-shadow: 48vmin 0 6.035301967930728vmin currentColor;
}
.background span:nth-child(7) {
  color: #49474d;
  top: 62%;
  left: 50%;
  animation-duration: 145s;
  animation-delay: -89s;
  transform-origin: 11vw -6vh;
  box-shadow: 48vmin 0 6.7481639878594vmin currentColor;
}
.background span:nth-child(8) {
  color: #4bfb4e;
  top: 68%;
  left: 94%;
  animation-duration: 129s;
  animation-delay: -81s;
  transform-origin: -23vw 1vh;
  box-shadow: 48vmin 0 6.673299451647619vmin currentColor;
}
.background span:nth-child(9) {
  color: #49474d;
  top: 70%;
  left: 5%;
  animation-duration: 198s;
  animation-delay: -84s;
  transform-origin: 22vw 15vh;
  box-shadow: 48vmin 0 6.811571230263404vmin currentColor;
}
.background span:nth-child(10) {
  color: #4bfb4e;
  top: 7%;
  left: 84%;
  animation-duration: 55s;
  animation-delay: -96s;
  transform-origin: -14vw 7vh;
  box-shadow: 48vmin 0 6.058235483324916vmin currentColor;
}
.background span:nth-child(11) {
  color: #4bfb4e;
  top: 37%;
  left: 54%;
  animation-duration: 127s;
  animation-delay: -243s;
  transform-origin: 18vw -1vh;
  box-shadow: 48vmin 0 6.685395837879103vmin currentColor;
}
.background span:nth-child(12) {
  color: #4bfb4e;
  top: 62%;
  left: 92%;
  animation-duration: 82s;
  animation-delay: -106s;
  transform-origin: -8vw 17vh;
  box-shadow: -48vmin 0 6.70753600646516vmin currentColor;
}
.background span:nth-child(13) {
  color: #4bfb4e;
  top: 66%;
  left: 63%;
  animation-duration: 126s;
  animation-delay: -42s;
  transform-origin: 19vw -13vh;
  box-shadow: -48vmin 0 6.944882175772397vmin currentColor;
}
.background span:nth-child(14) {
  color: #49474d;
  top: 68%;
  left: 90%;
  animation-duration: 61s;
  animation-delay: -44s;
  transform-origin: 24vw -10vh;
  box-shadow: -48vmin 0 6.499905323785204vmin currentColor;
}

.selector {
  display: flex;
  flex-direction: column;
}

.choice {
  margin: 6px 0 6px 0;
  display: flex;
  align-items: center;
}

.choice > div {
  position: relative;
  width: 20px;
  height: 20px;
  margin-right: 20px;
  z-index: 0;
}

.choice-circle {
  appearance: none;
  height: 100%;
  width: 100%;
  border-radius: 100%;
  border-width: 10px;
  border-style: solid;
  border-color: rgba(111, 111, 111, 0.45);
  cursor: pointer;
  box-shadow: 0px 0px 20px -13px gray, 0px 0px 20px -14px gray inset;
}

.ball {
  z-index: 1;
  position: absolute;
  inset: 0px;
  transform: translateX(-55px);
  box-shadow: rgba(0, 0, 0, 0.17) 0px -10px 10px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -15px 15px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -40px 20px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px,
    0px -1px 15px -8px rgba(0, 0, 0, 0.09);
  border-radius: 100%;
  transition: transform 800ms cubic-bezier(1, -0.4, 0, 1.4);
  background-color: rgb(107, 244, 89);
}

.choice-circle:checked + .ball {
  transform: translateX(0px);
}

.choice-name {
  color: #444;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.edit-button img {
  display: block;
}

.edit-button img.gif {
  display: none;
}

.edit-button:hover img.svg {
  display: none;
}

.edit-button:hover img.gif {
  display: block;
}

/* new code 
 */

* {
  margin: 0;
  padding: 0;
}
html {
  font-family: Poppins;
  color: #f0f0f0;
}
body {
  background: #222;
  color: #a2a5b3;
}
h1 {
  color: white;
}
.card {
  color: #222;
  margin: 0 auto;
  padding: 2em;
  width: 400px;
  height: auto;
  /* background-color: rgba(255, 255, 255, 0.5); */
  background-color: #ffffff;
  text-align: center;
  border-radius: 10px;
  position: relative;
  border: none;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.card::after,
.card::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(
    from var(--angle),
    transparent,
    green /* green,
    lightgreen,
    darkgreen /* #ff4545, */
      /* #00ff99,
    #006aff,
    #ff0095,
    #ff4545  */
  );
  /* top: 60%; */
  /* left: 60%; */
  /* translate: -60% -60%; */
  z-index: -1;
  padding: 5px;
  border-radius: 10px;
  animation: 3s spin linear infinite;
}
.card::before {
  filter: blur(1rem);
  opacity: 1;
}
@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}
